/* PP Neue Montreal */
@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Medium.woff") format("woff");
}

/* Fake Receipt */
@font-face {
  font-family: "Fake Receipt";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fake Receipt"), url("/fonts/fake-receipt.woff") format("woff");
}

/* Arial Rounded Bold */
@font-face {
  font-family: "Arial Rounded Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/arial-rounded-bold.woff2") format("woff2"),
    url("/fonts/arial-rounded-bold.woff") format("woff");
}
